* { box-sizing: border-box; }

body {
  font-size: 14px;
}

header.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.leaflet-container {
  height: 600px;
  width: 100%;
}

.case {
  font-size: 14px;

  h4 {
    font-size: 16px;
    margin-bottom: 14px;
  }

  .gender, .age { margin-bottom: 7px; }

  .status {
    font-size: 16px;
    font-weight: bold;
    margin-top: 14px;

    &.suspicious, &.awaiting { color: orange; }
    &.positive { color: orange; }
    &.recovered { color: green; }
    &.dead { color: red; }
  }
}

.form-group {
  margin-bottom: 20px;

  label {
    display: block;
    font-size: 14px;
    margin-bottom: 3px;
  }

  .form-control {
    font-size: 1rem;
    width: 100%;
    padding: 8px 12px;
  }
}

.form-page {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 999;
}

.incident-page form {
  position: absolute;
  top: 100px;
  left: 100px;
  background: white;
  width: 450px;
  padding: 20px;
  z-index: 999;
  border-radius: 10px;
}

.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;

  form {
    background: white;
    padding: 20px;
    width: 450px;
    border-radius: 10px;
  }
}
