* { box-sizing: border-box; }

body {
  font-size: 14px;
}

header.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.leaflet-container {
  height: 600px;
  width: 100%;
}

.case {
  font-size: 14px;

  h4 {
    font-size: 16px;
    margin-bottom: 14px;
  }

  .gender, .age { margin-bottom: 7px; }

  .status {
    font-size: 16px;
    font-weight: bold;
    margin-top: 14px;

    &.suspicious, &.awaiting { color: orange; }
    &.positive { color: orange; }
    &.recovered { color: green; }
    &.dead { color: red; }
  }
}

.case-form {
  position: absolute;
  top: 50px;
  left: 50px;
  background: white;
  width: 450px;
  padding: 20px;
  z-index: 999;

  .form-group {
    margin-bottom: 20px;

    label {
      display: block;
      font-size: 14px;
      margin-bottom: 3px;
    }

    .form-control {
      font-size: 1rem;
      width: 100%;
      padding: 8px 12px;
    }
  }
}
